# Ignore node_modules directory
node_modules/

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
venv/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore IDE configuration files
.idea/
.vscode/

# Ignore environment variables file
.env
